@font-face {
    font-family: "Fira Sans";
    src: url(font/FiraSans-Regular.ttf);
}



img{
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.foods {
    text-align: center;
}



.description {
    background-color: rgb(127, 255, 212, 0.5);
    text-align: center;
    font-size: 36px;
    color: rgb(218, 176, 98);
}

.ingredients {
    background-color: rgb(127, 255, 212, 0.5);
    text-align: center;
    font-size: 36px;
    color: rgb(218, 176, 98);
}

.steps {
    background-color: rgb(127, 255, 212, 0.5);
    text-align: center;
    font-size: 36px;
    color: rgb(218, 176, 98);
}

.betterfont {
    font-family:"Fira Sans", Helvetica;
}