@font-face {
    font-family: "Fira Sans";
    src: url(font/FiraSans-Regular.ttf);
}

html {
    background-color: rgb(183, 235, 255);
}

img{
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.foods {
    text-align: center;
}


.ingredients,
.description,
.steps {
    background-color: rgb(127, 255, 212, 0.5);
    text-align: center;
    font-size: 36px;
    color: rgb(218, 176, 98);
}


body {
    font-family:"Fira Sans", Helvetica;
}


.buffaloheader,
.garlicheader,
.vegetableheader {
    padding: 30px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    background-color: #FDE0D9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    color: gold;
    padding: 10px;
}


.headers {
    background-color: white;
    border: 1px solid white;
    margin: 16px; 
}

.centerbutton {
    text-align: center;
}

#github {
    background-color: aquamarine;
    box-shadow: 2px 2px 2px black;
}